<h1>Admin login page</h1>

<table id="admin-login">
	<%= form_tag(admins_attempt_login_path, :method => "post") %>
	<tr class="login-tr">
		<td class="login-td"><%= label_tag('username')  %></td>
		<td class="login-td"><%= text_field_tag(:admin_name) %></td>
	</tr>
	<tr class="login-tr">
		<td class="login-td"><%= label_tag('password') %></td>
		<td class="login-td"><%= password_field_tag(:password) %></td>
	</tr>
	<tr class="login-tr">
		<td class="login-td">
			<%= submit_tag('Submit', :id => 'login-btn')  %>
		</td>
	</tr>
</table>