<h2>bellow is the list of all the articles</h2>
<h2><%= link_to('Add a NEW article', new_article_path, :class => 'action new') %></h2>
<table>
	<tr>
    <th>index-ttitle</th>
    <th>index-content</th> 
    <th>Article-index</th>
    <th>Article- title</th>
    <th>Actions</th>
  </tr>
  
  <% @article.each do |a| %>
  <tr>
    <td><%= a.title %></td>
    <td><%= a.intro[0..40] + "......" %></td>
    <td><%= a.bodytag  %></td>
    <td><%= a.body[0..100]  %></td>
    <td>
      <%= link_to("show", article_path(a.id), :class => 'action show')%>
      <%= link_to("edit", edit_article_path(a.id), :class => 'action edit')%>
      <%= link_to("delete", delete_article_path(a.id), :class => 'action delete')%>
    <%end%>
  </tr>
</table>