<h1 id="return"><%= link_to("<<< back to main page", admins_manage_articles_path) %></h1>

<%= form_for @article do |f| %>
	
	<h2 class="heading">title</h2>
  <%= f.text_area :title, id: 'article-edit-title' %><br />
  
  <h2 class="heading">intro</h2>
  <%= f.text_area :intro, id: 'article-edit-intro' %><br />

  <h2 class="heading">body tag</h2>
	<%= f.text_area :bodytag, id: 'article-edit-bodytag' %><br />
  
  <h2 class="heading">body</h2>
  <%= f.text_area :body, id: 'article-edit-body'  %><br />

  <%= f.submit('update', :class => "submitbtn") %>

<% end %>
