<div id="new-article-title">Creating a new article</div>
<%= form_for @article do |f| %>
	
	<h2 class="heading">title</h2>
  <%= f.text_area :title, id: 'article-edit-title' %><br />
  
  <h2 class="heading">intro</h2>
  <%= f.text_area :intro, id: 'article-edit-intro' %><br />

  <h2 class="heading">body tag</h2>
	<%= f.text_area :bodytag, id: 'article-edit-bodytag' %><br />
  
  <h2 class="heading">body</h2>
  <%= f.text_area :body, id: 'article-edit-body'  %><br />

  <%= f.submit('create', :class => "submitbtn") %>

<% end %>