<!DOCTYPE html>
<html>
	<head>
		<title>Bouchama Khaled</title>
		<%= stylesheet_link_tag('application') %>
	</head>
	<body>
		<!-- the header -->
		<div id="div-header-content">
			<header id="header-global-page">
				<h1 id="header-h1"><a class="header-anchor"><span id="h1">KHALED BOUCHAMA</span>
					<br>
					<span id="h1-wd">Web Development</span></a></h1>
					<ul id="header-ul">
						<li><a class="header-anchor" href="/info/portfolio.html">Portfolio</a></li>
						<li><a class="header-anchor" href="/info/resume.html">Resume</a></li>
						<li><a class="header-anchor" href="/info/about.html">About</a><li>
					</ul>
			</header>
			
			
				<%= yield %>
		

			<!--FOOTER  -->
			<div id="div-footer">
				<footer id="main">
					<div id="wrap-footer">
						<div id="subscribe">
							<h2 class="heading-h2"><span>Subscribe</span></h2>
							<form id="subscribe-form">
								<p class="text-form">Enter email bellow:</caption><br>
								<input type="text" name="firstname" value="", class="email">
								<br><br>
								<input type="submit" value="send" form="subscribe-form", class="sub-btn">
							</form>
						</div>
						<div id="contact">
							<h2 class="heading-h2"><span>Contact</span></h2>
							<p class="contact-p">Email: kbouchama@gmail.com</p>
							<p class="contact-p">Phone: (415) 424 0239</p>
						</div>
						<div id="followme">
							<h2 class="heading-h2"><span>Folow me</span></h2>
							<div class="logo">
								<%= link_to('http://linkedin.com/in/bouchama', :target => '_blank') do %>
								<%= image_tag("linkedIn-icon-logo.png", alt: "Linkedin", :class => "images")%>
								<%end%>
							</div>
							<div class="logo">
								<%= link_to('http://github.com/khaledsf', :target => '_blank') do %>
								<%= image_tag("Octocat.jpg", alt: "Github", :class => "images")%>
								<%end%>
							</div>
							<div class="logo">
								<%= link_to('http://twitter.com/jingosf') do %>
								<%= image_tag("Twitterlogo.png", alt: "Twitter", :class => "images")%>
								<%end%>
							</div>
						</div>
					</div>
					<div id="copyright">
							<p id="copyright-text">khaledbouchama.com | 2019 | All rights reserved</p>
					</div>
				</footer>
				</div>